<mat-tab-group>
  <mat-tab>
    <ng-template  mat-tab-label class="d-flex align-items-center justify-content-center">
      <mat-icon color="primary">restaurant</mat-icon>
      Food
    </ng-template>
    <app-chips-multi-select class="m-2" [options]="options">
    </app-chips-multi-select>
  </mat-tab>
  <mat-tab>
    <ng-template  mat-tab-label>
      <mat-icon color="primary">local_drink</mat-icon>
      Drinks
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template  mat-tab-label>
      <mat-icon color="primary" >graphic_eq</mat-icon>
      Hookan
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template  mat-tab-label>
      <mat-icon color="primary">videogame_asset</mat-icon>
      Games
    </ng-template>
  </mat-tab>

</mat-tab-group>
