<app-chips-multi-select class="m-2" [options]="options">
</app-chips-multi-select>
<div class="container">
  <div class="row">
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>
    <app-product-card class="col-sm-5"></app-product-card>

  </div>
</div>
